
body {

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #08090A;
    color:#fff   ;
margin: 5% 5%;
text-align: center;
}

h1{

font-size: 4rem;

}



.p1{

padding: 5% 0 0 20%;

}

.p2{

    padding: 5% 20% 0 0;
    
    }

    .dice1 {

  height: 210px;
  width: 200px;
padding-top: 2%;

    }


    .dice2 {


        height: 210px;
        width: 200px;
        padding-top: 2%;

    }



   .pressed {
            box-shadow: 0 3px 4px 0 #DBEDF3;
            opacity: 0.5;
        }


    .btn{

margin-top: 3% ;


    }